/* Template */

body, html {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    background-image: url('../../assets/img/landing-page-bg.svg');
    overflow: hidden;
}

.nav-link {
    color: rgba(200, 76, 2, 0.75);
    fill-opacity: 75%;
    text-decoration: none;
}

.nav-link:hover {
    color: #C84C02;
}

.nav-link.active {
    border-bottom: 2px solid #C84C02;
}

.title {
    font-size: 24px;
    color: #C84C02;
}

.profile-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
}

footer {
    background-color: #C84C02;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header {
    background-color: white;
}

/* End of Template */
.wrapper {
    flex-grow: 1; /* Make wrapper grow to take available space */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #C84C02;
    font-size: 60pt;
    font-weight: bold;
}