/* Template */

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

.nav-link {
    color: rgba(200, 76, 2, 0.75);
    fill-opacity: 75%;
    text-decoration: none;
}

.nav-link:hover {
    color: #C84C02;
}

.nav-link.active {
    border-bottom: 2px solid #C84C02;
}

.title {
    font-size: 24px;
    color: #C84C02;
}

.profile-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
}

footer {
    background-color: #C84C02;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* End Of Template */


.form-control{
    border: 1.5px solid #997676;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.form-control:focus {
    outline: none;
    border: 1.5px solid #C84C02;
}

.form-check-input[type="radio"] {
    accent-color: #C84C02; 
}

.btn-cancel {
    width: 10em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #997676;
    border-radius: 2em;
    color: #3b211e;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: .3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-cancel:hover{
    background-color: #997676;
    color: black;
    border: none;
}

.btn-save{
    width: 10em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #ad3506;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    background-color: #C84C02;
    transition-duration: .3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-save:hover {
    background-color: #CC6F37;
    border: none;
}